:root {
    --primary-color: rgba(227, 227, 105, 0.831);
    --heading-color: rgba(23, 11, 11, 0.845);
    --background-color: rgba(104, 253, 253, 0.929);
    --body-font: Arial;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: rgba(193, 244, 193, 0.142)
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    color: var(--heading-color);
}

nav,
p,
article {
    margin: 10px;
    padding: 5px;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    max-width: 840px;
}

.hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

.hero article {
    position: absolute;
    background-color: var(--background-color);
    border: 2px solid rgba(8, 172, 172, 0.582);
    bottom: 50px;
}

.hero article img {
    float: right;
    width: 120px;
    height: 120px;
    padding: 5px;

}

header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: rgb(47, 76, 114);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav a {
    color: white;
    text-decoration: none;
}

header img {
    width: 120px;
}

.history {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(108, 101, 93, 0.251);
    padding: 10px;
    margin: 10px 0;
}

.history p {
    text-align: left;
}

.history h2 {
    grid-column: 1/-1;
    text-align: center;
    justify-self: center;
    margin-bottom: 10px;
}

.history img {
    width: 250px;
    height: 130px;
    margin-bottom: 20px;

}

.adventure {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(108, 101, 93, 0.251);
    padding: 10px;
    margin: 10px 0;
}

.adventure h2,
.employee h2 {
    grid-column: 1/-1;
    text-align: center;
    align-self: center;
    margin-bottom: 10px;

}

.adventure img {
    width: 97%;
    height: 100px;

}

figcaption {
    font-size: smaller;
    text-align: center;
    margin-bottom: 15px;
}

.address h1,
p {
    text-align: center;
    margin: 10px 0;
}

.address p {
    line-height: 1px;
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(108, 101, 93, 0.251);
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;

}

.employee img {
    width: 95%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.438);
    border-radius: 5px;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 35px 0 10px;
    padding: 10px 0;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(108, 101, 93, 0.251);
}

.form label,
.form input,
.news-later label,
.news-later input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.news-later label {
    color: white;
}

.details iframe {
    border: 2px solid rgba(201, 199, 199, 0);
    width: 75%;
    height: 300px;
}

footer {
    display: flex;
    background-color: rgba(3, 3, 3, 0.781);
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.news-later {
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 35% 65%);
    align-content: center;
    justify-items: center;
    gap: 5px;
}

.news-later form button {
    padding: 10px;

}

.welcome-notice {
    background-color: rgba(5, 36, 79, 0.916);
    padding: 20px;
}

.welcome-notice h2 {
    text-align: center;
    color: white;
}

.welcome-notice p {
    text-align: left;
    margin-bottom: 20px;
    line-height: 25px;
    font-family: var(--body-font);
    color: white;
}

.offers {
    background-color: rgba(0, 0, 0, 0.55);
}

.social-media img {
    width: 30px;
    padding: 3px;
}

.social-media a {
    text-decoration: none;
}