:root {
    --primary-color: rgb(254, 254, 254);
    --secondary-color: rgb(1, 54, 54);
    --content-color: rgba(79, 79, 71, 0.819);
    --head-font: "Times New Romans", "Sans Serrif";
    --body-font: "Verdana";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header,
main,
footer {
    width: 50%;
    margin: 0 auto;
}

.socialmedia {
    text-decoration: none;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10px;
    text-align: center;
    font-family: var(--head-font);
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    opacity: 90%;
    padding: 10px;
}

article {
    position: absolute;
    bottom: 10%;
    padding: 10px;
    margin: 10px;
    background-color: var(--content-color);
    color: var(--primary-color);

}

.hero article img {
    float: right;
    width: 100px;
    height: 120px;
}