nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;

}

img {
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 600px;
}

aside {
    width: 300px;
    margin: 2px;
    border: 2px solid rgba(0, 0, 0, 0.436);
    padding: 5px;
    background-color: gray;
    color: white
}

aside img {
    width: 200px;
    height: auto;
    border: 2px solid black;
    padding: 2px;
    box-shadow: 0 0 30px;

}

main img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 2px solid black;
    text-align: center;

}