/* class selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.847);
}

.box {
    padding: 1rem;
    margin: 1rem;
    border-top: 2px solid rgba(130, 128, 128, 0.4);
    background-color: lightblue;
    position: relative;
}

.box p {
    word-spacing: 2px;
    line-height: 20px;
    padding: 0 0 2%;
    margin: 0 2% 2%;
    color: black;
    text-align: justify;

}

.box img {

    padding: 0 0 2%;
    margin: 0 2%;
    width: 70%;
    height: auto;
}

.box h2 {
    position: absolute;
    bottom: 80%;
    left: 30%;
    color: rgb(0, 255, 157);
}

.links {
    border-top: 2px solid rgba(0, 0, 0, 0.158);
    background-color: lightblue;
    padding-bottom: 3%;
}

.links a {
    color: blue;
    padding: 4%;
    text-decoration: none;

}

.links li {
    padding: 0 0 2%;
    margin-left: 6%;

}

nav {
    background-color: rgba(0, 0, 0, 0.856);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    color: rgb(0, 0, 0);
    margin: 0 0 0.3% 2%;
    padding: 2%;

}

main {
    background-color: whitesmoke;
}

main img {
    width: 100px;
    height: 155px;
    border: 1px solid rgb(186, 169, 169);
    border-radius: 10px;
    padding: 0.3%;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 3% 3% 0;
    margin-bottom: 2px;
}

p {
    word-spacing: 2px;
    line-height: 20px;
    margin: 0 2%;
    color: rgba(0, 0, 0, 0.959);
    padding: 2%;
    text-align: justify;
}

main,
header,
footer,
.box {
    max-width: 840px;
    margin: 0.3% auto;
}

footer {
    text-align: center;
    background-color: rgba(4, 58, 124, 0.808);
    color: white;
    padding: 40px;
}

footer p {
    text-align: center;
    color: white;
}