* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgba(3, 3, 184, 0.845);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    margin-bottom: 20px;
}

p {
    padding: 0;

}

main {
    max-width: 50%;
    padding: 20px;
}

main ul {
    margin-top: 40px;
    padding: 10px;
    line-height: 30px;

}

aside {
    width: 300px;
    background-color: gray;
    text-align: center;
    position: relative;

}

aside h2 {
    position: absolute;
    left: 100px;
    top: 50px;
}

aside img {
    width: 200px;
    height: auto;
    border: 2px solid rgba(58, 56, 56, 0.813);
    box-shadow: 0 0 30px;

}

main img {
    width: 200px;
    height: auto;
    border: 2px solid rgb(69, 68, 68);
    padding: 2px;
    margin: 20px;
    box-shadow: 0 0 30px;
    float: right;
}

footer {
    margin-top: 30px;
    border-top: 2px solid black;
    text-align: center;

}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 2px solid rgba(72, 69, 69, 0.436);
    padding: 1rem;
    background-color: rgb(245, 233, 233);
    color: rgb(37, 36, 36);
}