nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 50px rgb(53, 50, 50);
}

p {
    padding: 0;
}

main {
    width: 450px;
}

aside {
    width: 450px;
    margin: 20px 20px 20px 0;
    border: 5px solid rgb(110, 112, 240);
    padding: 10px;
    background-color: rgb(96, 93, 93);
    color: whitesmoke;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px solid black;
}

footer p {
    text-align: center;
}