body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 600px;
}

header {
    background-color: rgb(52, 50, 50);
    padding: 1px;
    color: white;
    text-align: center;
    max-width: 600px;
}

h1 {
    text-align: center;
    max-width: 600px;
    font-size: large;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main img {
    height: auto;
    max-width: 300px;
    box-shadow: 0 0 30px rgb(59, 57, 57);
    margin-left: 120px;

}

section {
    background-color: rgb(195, 191, 165);
    max-width: 300px;
    margin-left: 120px;

}

section h2 {
    padding: 5px;
    margin-left: 5px;
    border-bottom: 1px solid black;

}

section p,
ul {
    padding: 15px 20px;
    margin-left: 5px;
    font-size: small;
}

footer {
    background-color: rgb(52, 50, 50);
    padding: 1px;
    color: white;
    text-align: center;
    max-width: 600px;
}