header {
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 2px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
}

img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 20px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    background-color: rgb(232, 232, 230);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

}

section h2 {
    border-bottom: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

section p {
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px;
    font-size: medium;
}

section li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px;
    font-size: medium;
}

footer {
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 1px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}